* {
    box-sizing: border-box;
    font-size: 18px;
    font-family: Microsoft JhengHei, PMingLiU, Verdana, Arial, Helvetica, sans-serif;
}

[class*="col-6"] {
    float: left;
    padding: 90px;
    border: 1px solid red;
}

body {
    background-color: #FFFEFE;
    font-family: MingLiU;
    font-size: 15px;
}

h1,
h2 {
    text-align: center;
}

#slide_dist,
#slide_weight,
#slide_height,
#slide_latitude,
#slide_longitude {
    margin-bottom: 30px;
}

#sight_nav {
    width: 150px;
    float: left;
    margin: 100px;
    margin-top: -10px;
}

h3 {
    margin: 10px 0px;
}

#species {
    margin-right: 10px;
}

input[type="text"] {
    border: none;
}

#datepicker {
    border: solid 1px gray;
}

#main {
    float: left;
    /*width: 0 auto;*/
    margin: 10px 105px;
    /*margin-right: 300px;*/
}

#sight_list li {
    height: 10px;
    margin-top: 30px;
    list-style-type: none;
}

#map_canvas {
    width: 530px;
    height: 460px;
    /*margin: 0 auto;*/
}

#map {
    /*float: left;*/
    width: 45px;
    margin: 50px;
}

button {
    border: 0;
    background: #0088cc;
    border-radius: 5px;
    padding: 10px 10px;
    color: #FFF;
    margin: 10px 55px;
    float: right;
    cursor: pointer;
}

.ui-widget-header {
    background-color: #322D2D;
}

ul#sight_list {
    width: 150px;
    margin: 0px;
    padding: 0px;
}

li.sightings {
    padding: 4px;
    background: #ccc;
    border: 1px #000 solid;
    list-style: none;
    cursor: pointer;
}

li.sightings:hover {
    background: orange;
}
