body {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    font-size: 20px;
}

li {
    display: inline;
}

li a {
    padding: 20px;
    text-decoration: none;
    display: inline;
    color: black;
}

ol a {
    position: relative;
    right: 30px;
    top: -20px;
    color: #0B0909;
    padding: 5px;
    font-family: sans-serif;
}

.menu {
    /*font-family: sans-serif;
    padding: 5px;
    background-color: #595858;
    position: relative;*/
    width: 100%;
    padding: 20px 0;
    background-color: #5C5C5C;
    position: fixed;
}

.item {
    max-width: 100px;
    height: 200px;
    padding: 30px;
    margin: 50px;
    background-color: #C6C6C6;
    position: absolute;
    top: 53px;
    left: 500px;
}
